@import url('/root.css');

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background-color: #F2F2F2;
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  top: -100px;
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}

/* home start */
#home {
  background: url('/img/home_back.jpg') no-repeat center center;
  width: 100%; height: 100%;
  background-size: cover;
  animation: opacity-image1 1s 2s ease-in both;
}
.welcome-txt {
  position: absolute;
  width: 100%; height: 100%;
  top: 50%; left: 50%;
  color: #222640;
  transform: translate(-50%, -30%);
  font-weight: 900;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  animation: opacity-image3 .8s ease-in both;
  -webkit-text-stroke: 2px #222640;
}
.home-inner {
  animation: opacity-image2 1s 2.5s ease-in both;
}
.home-content {
  background-color: var(--black);
  position: relative;
  width: 700px;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 10px solid red;
}
.home-img1 {
  position: relative;
  width: 300px; height: 100px; padding: 20px;
}
.home-img1 img {
  width: 300px;
}
.home-img2 img {
  width: 500px; padding: 10px;
  float: right;
  margin: 100px 50px;
}
.home-img3 img {
  position: absolute;
  width: 300px;
  top: 0; right: 0;
  padding: 20px;
}
.myname {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-80%);
}
.myname-en {
  position: absolute;
  right: -50%; bottom: 0;
  color: var(--mid-yellow);
}
.myname p {
  font-family: 'PilseungGothic';
  font-size: 80px;
  color: var(--top-yellow);
  margin: 0;
  -webkit-text-stroke: 2px red;
}
.myname span {
  font-family: 'PilseungGothic';
  font-size: 80px;
  color: var(--top-yellow);
  -webkit-text-stroke: 2px red;
}
@keyframes opacity-image1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-image2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-image3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*### Plan Page START ###*/
.content-plan {
  background-color: #F2F2F2;
}
.plan-inner {
  background-color: #F2F2F2;
  height: 100%;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}
.plan-feature {
  width: 70%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.plan-info {
  height: 30%;
  color: #bbb;
  float: left;
  padding-bottom: 20px;
}
.plan-heading {
  width: 70%;
  float: left;
  padding-right: 50px;
}
.plan-heading h2,
.history-heading h2,
.skill-heading h2 {
  color: #221959;
  margin: 0;
  font-weight: 800;
  font-style: italic;
}
hr.bar {

  background-color: rgb(50, 205, 184);
  width: 100%;
}
.plan-heading p {
  color: #595959;
  font-size: 15px;
  line-height: 1.6em;
  width: 100vw;
  font-family: 'Noto Sans KR', sans-serif;
}
.plan-heading h3,
.history-heading h3,
.skill-heading h3 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222640;
  margin: 0;
}
.history-slider h4 {
  color: #022859;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  line-height: 1.5em;
  padding-top: 15px;
  font-family: 'Noto Sans KR', sans-serif;
}
.history-slider p {
  font-size: 16px;
  color: #595959;
  line-height: 1.5em;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
.history-slider .slick-arrow {
  color: #000;
  z-index: 99;
}
.slick-prev {
  left: -40px;
}
.history-slider .slick-prev::before,
.history-slider .slick-next::before {
  content: '\F134';
  font-family: bootstrap-icons;
  color: var(--dark-gray);
  zoom: 1.5;
  display: inline-block;
  animation: buttonblink 1.5s ease-in infinite;
}
.history-slider .slick-prev::before {
  transform: rotate(180deg);
}
@keyframes buttonblink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.history-slider .slick-dots li button::before {
  color: #595959;
  font-size: 40px;
}
.history-slider .slick-dots li {
  margin: 0;
}
.skill-info ul {
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  justify-content: space-between;
  border-bottom: 1px solid #022859;
  padding: 5px;
}
.star {
  float: right;
  color: yellow;
  -webkit-text-stroke: 2px #000;
}
/*### Plan Page END ###*/


/*### project START ###*/
.project-inner {
  width: 70%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 80px);
}
.project-inner h1,
.project-inner aside {
  font-family: 'Playfair Display', serif;
}
.project-inner h1 {
  font-size: 70px;
  text-align: center;
  border-bottom: 3px solid var(--blue);
  padding-bottom: 20px;
  color: var(--blue);
  margin: 10px 0;
}
.aside-header {
  display: flex;
  width: 100%;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
.aside-header ul {
  width: 33.3%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.aside-header li {
  flex: 1;
  font-size: 1.5em;
  color: var(--black);
}
.project-inner aside {
  border-bottom: 3px solid var(--blue);
  padding: 10px;
  padding-top: 0;
}
.pro-main {
  display: flex;
  padding: 50px 20px;
}
.pro-main-article {
  flex: 7;
  width: 70%;
  padding-right: 20px;
}
.pro-main-article-header {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: var(--black);
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pro-main-article-header::before {
  content: attr(data-text);
  position: absolute;
  top: 210px;
  font-size: 100px;
  opacity: 0.5;
}
.pro-main-article-header h2 {
  width: 70%;
  font-weight: 700;
}
.pro-main-article-header a {
  width: 30%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateY(60%);
  border: none;
  background-color: var(--blue);
  color: var(--dark-snow);
  transition: 0.8s;
}
.pro-main-article-header a:hover i {
  margin-left: 40px;
}
.pro-main-article-header i {
  margin-left: 10px;
  transition: 0.8s;
}
.sidebar {
  width: 30%;
  border-left: 2px solid var(--blue);
  padding: 12px 20px;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.sidebar h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
  color: var(--black);
  border-bottom: 1px solid var(--black);
  transform: translateY(-15px);
  padding-bottom: 36px;
}
.sidebar p {
  line-height: 2em;
}
.img-box {
  width: 100%;
  height: 100%;
}
.img-box img {
  width: inherit;
  margin: auto;
}

.project-inner .slick-arrow {
  color: #000;
  z-index: 99;
}
.project-inner .slick-prev {
  left: -60px;
  transform: translateY(20px);
}
.project-inner .slick-prev::before,
.project-inner .slick-next::before {
  content: '\F134';
  font-family: bootstrap-icons;
  color: var(--dark-gray);
  zoom: 3;
  display: inline-block;
  animation: buttonblink 1.5s ease-in infinite;
}
.project-inner .slick-prev::before {
  transform: rotate(180deg);
}
@keyframes buttonblink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.project-inner .slick-dots li button::before {
  color: #595959;
  font-size: 40px;
}
.project-inner .slick-dots li {
  margin: 0;
}