#container {
  width: 600px;
  margin: 0 auto;
}
#prod-pic, #desc {
  float: left;
}
#prod-pic {
  margin: 20px 20px auto 10px;
  padding: 0;
}
#cup {
  box-shadow: 1px 1px 2px #eee;
  outline: 1px dashed #ccc;
  outline-offset: -7px;
}
#small-pic {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}
#small-pic > li {
  float: left;
  margin-right: 10px;
}
.small {
  width: 60px;
  height: 60px;
}
.small-pic img:hover {
  cursor: pointer;
}
#desc {
  width: 300px;
  padding: 20px;
  margin-bottom: 50px;
}
#desc button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
}
#desc ul {
  list-style: none;
}
#desc li {
  font-size: 0.9em;
  line-height: 1.8;
}
#desc a {
  text-decoration: none;
  font-size: 0.9em;
  color: blue;
  padding-left: 40px;
}
.bluetext {
  color: #4343ff;
  font-weight: bold;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.3em;
}
#detail {
  width: 300px;
}